body {
  padding: 0 10%;
}

h1 {
  font-size: 42px;
  text-align: center;
  font-family: 'lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.group {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0px;
}

.group > .header {
  font-size: xx-large;
  background-color: blueviolet;
  font-family: 'lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding: 10px;
  font-weight: bold;
  
}

.command {
  border: 1px solid;
  border-color: lightblue;
  font-size: x-large;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 3px 0px #00000033;
}

.command:hover {
  color: red;
}

.button {
  background-color: rgb(30, 97, 30);
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: inline;
  float: right;
}

.button:hover {
  background-color: rgb(29, 124, 29);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.309);
}
